@using Microsoft.JSInterop
@inject IJSRuntime JS

<div @ref="canvasRef"
     class="@Class"
     style="width:@Width; height:@Height; overflow:hidden; position:relative; cursor:grab; @Style">

    <!-- Background grid -->
    <div class="flow-grid" style="@EffectiveGridStyle" @ref="gridRef"></div>

    <!-- Movable content -->
    <div class="flow-content" @ref="flowContentRef" style="@ContentStyle">
    @if(Graph != null){
        <div class="nodes">
        @foreach(var nodeInfo in Graph.NodesInfo)
        {
            <CascadingValue TValue="FlowNodeBase" Value="@nodeInfo.Instance">
                <DynamicComponent Type="nodeInfo.NodeType" @ref="nodeInfo.Component" Parameters="nodeInfo.Parameters"/>
            </CascadingValue>
        }
        </div>
        }
    </div>
</div>


