@using Microsoft.JSInterop
@inject IJSRuntime JS

<div id="@id" @ref="canvasRef"
     class="@Class"
     @onpointerdown="StartPan"
     @onpointermove="PanMove"
     @onpointerup="EndPan"
     @onpointerleave="EndPan"
     @onwheel="OnWheel" @onmousewheel:preventDefault
     style="width:@Width; height:@Height; overflow:hidden; position:relative; cursor:grab; @Style">

    <!-- Background grid -->
    <div class="flow-grid" style="@EffectiveGridStyle"></div>

    <!-- Movable content -->
    <div class="flow-content" style="@ContentStyle">
    @if(Graph != null){
        <div class="nodes">
        @foreach(var nodeInfo in Graph.NodesInfo)
        {
            <DynamicComponent Type="nodeInfo.NodeType" @ref="nodeInfo.Component"/>
        }
        </div>
        }
    </div>
</div>


